<p class="cabecera">Añadir comentario: </p>
<form method="post" action="/quizes/<%=quizid%>/comments/" >      
	<input type="text" id="comment" name="comment[texto]" value=""/>
	<p class="botones">
		<button type="submit">Enviar</button>
	</p>
</form>