<p class="cabecera"><strong>Añadir comentario:</strong></p>
<form method="post" action="/quizes/<%= quizid %>/comments/" >      
	<input type="text" id="comment" name="comment[texto]" value="Nuevo comentario"
		onfocus="if (this.value === 'Nuevo comentario') {this.value = '';}"/>
	<p class="botones">
		<button type="submit">Enviar</button>
		<a href="/quizes/<%= quizid %>"><button type="button">Cancelar</button></a>
	</p>
</form>