<h2>Créditos</h2>
<ul class="fotos">
	<li>
		<h3>Profesor</h3>
		<figure>
			<img src="/images/jquemada.jpg" alt="Juan Quemada Vives" />
			<figcaption><%= profesor %></figcaption>
		</figure>
	</li>
	<li>
		<h3>Alumno</h3>
		<figure>
			<img src="/images/labaro.jpg" alt="Fco. Javier Ruiz García" />
			<figcaption><%= alumno %></figcaption>
		</figure>
	</li>
</ul>