body {
	background: #999;
}

#page-wrap:after {
	content: "Wide Layout";
}

nav {
	float: left;
	width: 15%;
	height: 100%;
	min-height: 100px;
	text-align: left;
	line-height: 1.6em;
}

nav span {
	margin: 0px 100px 0px 0px;
}

section {
	float: right;
	width: 80%;
	height: 100%;
	min-height: 100px;
}

footer {
	clear: both;
	display: block;
}

button, input {
	padding: 2px;
	min-width: 60px;
}

.field {
	text-align: left;
	text-indent: 25%;
	line-height: 2em;
}

.addquest {
	text-align: left;
	text-indent: 5%;
	line-height: 2em;
}

#seltema {
	min-width: 40%;
}

label {
	width: 12%;
	min-width: 5.2em;
	float: left;
}

table tr td button {
	width: 100%;
}

table tr td {
	border: solid 1px black;
} 
