<div class="addquest">
	<label for="preg" class="rem">Pregunta:</label>
	<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"
		onfocus="if (this.value === 'Pregunta') {this.value = '';}"/>
</div>
<div class="addquest">
	<label for="resp" class="rem">Respuesta:</label>
	<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"
		onfocus="if (this.value === 'Respuesta') {this.value = '';}"/>
</div>
<div class="addquest">
	<label for="resp" class="rem">Tema:</label>
	<select id="seltema" name="quiz[tema]">
		<% include _temas.ejs %>
	</select>
</div>
<p class="botones">
	<a href="/quizes"><button type="button">Cancelar</button></a>
	<input type="submit" value="Salvar"/>
</p> 
